/* Estilo general del cuerpo */
body {
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Encabezado principal */
  h1 {
    color: #0077b6;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  